*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.ota{
    position: absolute;
    width: 1200px;
    height: 614px;
    border-radius: 50px;

background: rgb(224, 240, 33);

align-items: center;
}
.bola{
    background: rgb(36, 4, 4);
    width: 200px;
    height: 200px;
    
}
